* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(228, 225, 225);
}

/*start of header*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  height: 110px;
  background-color: purple;
  color: white; /* Ensures all text in header is white */
}

/*inside of header*/
.logo {
  display: flex;
  align-items: center;
  background-color: purple;
}

.logo img {
  background-color: purple;
  height: 105px;
  width: 105px;
  margin-right: 10px;
}

.logo p {
  color: white;
  background-color: purple;
  margin: 0px;
}

.navigation {
  background-color: purple;
  height: 60%;
  display: flex;
  align-items: center;
}

/*text inside navigation*/
.navigation a {
  margin-left: 15px;
  text-decoration: none;
  color: white; /* Ensures navigation links are white */
  background-color: purple;
}

.navigation a:hover {
  background-color: #444;
  transition: 0.5s;
}

/*end of header*/

/* Sidebar styling */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: purple;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
  background-color: purple;
}

.sidebar a:hover {
  background-color: #575757;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-right: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: purple;
  color: white;
  padding: 10px 15px;
  border: none;
  margin-right: 15px; /* Space between navigation links and button */
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-right 0.5s;
  padding: 16px;
}

/* About Us Content */
.about-us {
  padding: 50px 20px;
  text-align: center;
}

.about-us h1 {
  font-size: 50px;
  color: purple;
  font-family: "Times New Roman", Times, serif;
  margin-bottom: 20px;
}

.about-us p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Footer */
.footer {
  margin-top: 15px;
  text-align: center;
  background-color: #111;
  font-weight: lighter;
}

.footer p {
  margin-top: 15px;
  text-align: center;
  background-color: #111;
  font-weight: lighter;
  color: white;
}

.footer img {
  margin-top: 15px;
  text-align: center;
  height: 110px;
}
